@charset "UTF-8";
@font-face {
  font-family: "Noto Sans KR";
  src: url(/assets/fonts/notosanskr-medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(/assets/fonts/notosanskr-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html,
body {
  font-family: "Noto Sans KR", "Noto Sans", "microsoft neogothic", "applegothic", "맑은 고딕", "malgun gothic", "dotum", "돋움", Droid sans, sans-serif;
  letter-spacing: -0.05em;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  color: #333;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.8;
  word-wrap: break-word;
  word-break: keep-all;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.inner {
  max-width: 1172px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skipNav {
  position: absolute;
  top: 0;
  left: 0;
}

#skipNav a {
  position: absolute;
  top: -100px;
  width: 100px;
  padding: 10px 0;
  background-color: #ddd;
  color: #000;
  font-size: 14px;
  text-align: center;
  z-index: 120;
}

#skipNav a:focus,
#skipNav a:active {
  top: 0;
}

#header {
  position: relative;
  z-index: 100;
}
#header .header-main {
  padding-top: 49px;
  border-bottom: 1px solid #ddd;
}
#header .header-main .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
}
#header .header-util {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
}
#header .header-util .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49px;
}
#header .header-util .inner .blank-area .blank-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .header-util .inner .blank-area .blank-list .blank-item {
  border-left: 1px solid #ddd;
}
#header .header-util .inner .blank-area .blank-list .blank-item:last-child {
  border-right: 1px solid #ddd;
}
#header .header-util .inner .blank-area .blank-list .blank-item a {
  display: block;
  padding: 0 15px;
  line-height: 49px;
  font-size: 16px;
}
#header .header-util .inner .account-control-area .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .header-util .inner .account-control-area .menu-list .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .header-util .inner .account-control-area .menu-list .menu-item:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 10px;
  margin: 0 16px;
  background-color: #ddd;
}
#header .header-util .inner .account-control-area .menu-list .menu-item a {
  font-size: 14px;
}
#header .header-util .inner .account-control-area .select-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  border: 1px solid #0053b5;
  border-radius: 50px;
}
#header .header-util .inner .account-control-area .select-language::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url(/assets/images/header/global_foreign.png) no-repeat;
}
#header .header-util .inner .account-control-area .select-language #selectLanguage {
  height: 28px;
  padding: 0 20px 0 4px;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1.4;
  background: url(/assets/images/header/global_foreign_arw.png) no-repeat 100% 50%;
  background-size: 8px 6px;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
#header .header-search .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  height: 160px;
  padding: 16px 0;
}
#header .header-search h2 a img {
  width: auto;
  height: 43px;
  margin: 19px 0 18px 0;
}
#header .header-search .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  max-width: 680px;
  height: 60px;
  margin: 24px;
}
#header .header-search .search-area::before {
  content: "";
  width: 81px;
  height: 52px;
  position: absolute;
  top: -30px;
  left: -36px;
  background: url(/assets/images/header/search_star.png);
  z-index: 0;
}
#header .header-search .search-area .search-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#header .header-search .search-area fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 5px 0 5px 16px;
  border: 2px solid #0053b5;
  border-radius: 32px;
  -webkit-box-shadow: 0 0.25rem 0.625rem rgba(12, 24, 58, 0.13);
          box-shadow: 0 0.25rem 0.625rem rgba(12, 24, 58, 0.13);
}
#header .header-search .search-area .search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  border: 0;
  padding-left: 12px;
  font-size: 18px;
}
#header .header-search .search-area .btn-search {
  width: 40px;
  height: 40px;
  margin-right: 6px;
  background: url(/assets/images/header/search_btn.png) no-repeat;
}
#header .header-search .weather-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
#header .header-search .weather-area .current-weather a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .header-search .weather-area .current-weather .ic-cloud {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background: url(/assets/images/weather_03.png) no-repeat;
  background-size: contain;
}
#header .header-search .weather-area .current-weather .temper {
  margin-top: 2px;
  font-weight: 600;
}
#header .header-search .weather-area .current-weather .temper em {
  margin-right: 3px;
  font-size: 25.6px;
  font-weight: 600;
  font-family: "Nanum Gothic";
  line-height: 1;
  letter-spacing: -0.5px;
  color: #222;
}
#header .header-search .weather-area .current-weather .temper span {
  font-size: 16px;
}
#header .header-search .weather-area .current-dust a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4px 0;
  gap: 8px;
}
#header .header-search .weather-area .current-dust a > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -1px;
}
#header .header-search .weather-area .current-dust a > span span {
  color: #666;
}
#header .header-search .weather-area .current-dust a > span strong {
  font-weight: 500;
  color: #222;
}

#gnb .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#gnb .menu-list .menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  padding: 0 32px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
}
#gnb .menu-list .menu-item a:hover {
  color: #0053b5;
}
#gnb .menu-list .menu-item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 100%;
  margin-left: 32px;
}
#gnb .menu-list .menu-item button::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(/assets/images/header/gnb_menuall.png) no-repeat;
  background-size: 24px 24px;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.flex:first-child {
  gap: 48px;
  padding: 4px 0 16px 0;
}
.flex:first-child .sc-visual {
  position: relative;
  width: calc(50% - 24px);
}
.flex:first-child .sc-visual .swiper.visual {
  border: 1px solid #e2e8fc;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 4px rgba(12, 24, 58, 0.13);
          box-shadow: 0 4px 4px rgba(12, 24, 58, 0.13);
}
.flex:first-child .sc-visual .swiper.visual .swiper-wrapper .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}
.flex:first-child .sc-visual .swiper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  padding: 0 24px;
  background-color: rgba(45, 53, 72, 0.9);
  border-radius: 0 0 16px 16px;
  color: #fff;
  z-index: 1;
}
.flex:first-child .sc-visual .swiper-footer .btn-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-size: 13px;
  font-weight: 400;
}
.flex:first-child .sc-visual .swiper-footer .btn-all::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(/assets/images/main/slider_viewall.png) no-repeat center;
}
.flex:first-child .sc-visual .swiper-footer .group-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.flex:first-child .sc-visual .swiper-footer .group-right .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  position: static;
}
.flex:first-child .sc-visual .swiper-footer .group-right .swiper-pagination-current {
  font-weight: 600;
  color: #f7b02a;
}
.flex:first-child .sc-visual .swiper-footer .group-right .control-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex:first-child .sc-visual .swiper-footer .group-right .control-btns button {
  width: 24px;
  height: 24px;
  background-size: 20px 20px;
}
.flex:first-child .sc-visual .swiper-footer .group-right .control-btns .btn-prev {
  background: url(/assets/images/main/slider_nav_prev.png) no-repeat center;
}
.flex:first-child .sc-visual .swiper-footer .group-right .control-btns .btn-pause {
  background: url(/assets/images/main/slider_control_stop.png) no-repeat center;
}
.flex:first-child .sc-visual .swiper-footer .group-right .control-btns .btn-next {
  background: url(/assets/images/main/slider_nav_next.png) no-repeat center;
}
.flex:first-child .sc-visual [class*=swiper-button] {
  margin-top: -32px;
  position: absolute;
  top: 50%;
  width: 64px;
  height: 64px;
}
.flex:first-child .sc-visual [class*=swiper-button]::after {
  content: "";
}
.flex:first-child .sc-visual .swiper-button-prev {
  left: -32px;
  background: url(/assets/images/slider_arrow_left.png) no-repeat center;
}
.flex:first-child .sc-visual .swiper-button-next {
  right: -32px;
  background: url(/assets/images/slider_arrow_right.png) no-repeat center;
}
.flex:first-child .sc-mayor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  width: calc(50% - 24px);
}
.flex:first-child .sc-mayor .mayor-img-area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #e2e8fc;
  border-radius: 16px;
  -webkit-box-shadow: 0 0.25rem 0.25rem rgba(12, 24, 58, 0.13);
          box-shadow: 0 0.25rem 0.25rem rgba(12, 24, 58, 0.13);
  overflow: hidden;
}
.flex:first-child .sc-mayor .mayor-img-area img {
  width: 100%;
  height: 100%;
}
.flex:first-child .sc-mayor .mayor-link-area .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12.5px 10px;
  background-color: #e5667e;
  border-radius: 16px;
}
.flex:first-child .sc-mayor .mayor-link-area .link-list .link-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.flex:first-child .sc-mayor .mayor-link-area .link-list .link-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.4);
}
.flex:first-child .sc-mayor .mayor-link-area .link-list .link-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: clamp(0.9rem, 0.75rem + 0.25vw, 1.25rem);
  font-weight: 500;
  color: #fff;
}
.flex:first-child .sc-mayor .mayor-link-area .link-list .link-item a span {
  white-space: nowrap;
}
.flex:first-child .sc-mayor .mayor-link-area .link-list .link-item a i {
  width: 24px;
  height: 24px;
}
.flex:first-child .sc-mayor .mayor-link-area .link-list .link-item a .ic-office {
  background: url(/assets/images/mayor/mayor_link_mayoroffice.png) no-repeat 0 50%;
}
.flex:first-child .sc-mayor .mayor-link-area .link-list .link-item a .ic-promise {
  background: url(/assets/images/mayor/mayor_link_manifesto.png) no-repeat 0 50%;
}
.flex:first-child .sc-mayor .mayor-link-area .link-list .link-item a .ic-msg {
  background: url(/assets/images/mayor/mayor_link_message.png) no-repeat 0 50%;
}
.flex:first-child .sc-mayor .mayor-link-area .link-list .link-item a .ic-arrow {
  background: url(/assets/images/mayor/mayor_arrow_forward.png) no-repeat 0 50%;
}

.sc-service {
  padding: 40px 0;
}
.sc-service .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sc-service .service-list .service-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 4.8rem;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.sc-service .service-list .service-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.sc-service .service-list .service-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.sc-service .service-list .service-item a i {
  width: 100%;
  height: 70px;
  background-size: 69px 58px;
}
.sc-service .service-list .service-item a .ic-tour {
  background: url(/assets/images/main/service_02_tour.png) no-repeat center;
}
.sc-service .service-list .service-item a .ic-job {
  background: url(/assets/images/main/service_03_job.png) no-repeat center;
}
.sc-service .service-list .service-item a .ic-organization {
  background: url(/assets/images/main/service_04_organization.png) no-repeat center;
}
.sc-service .service-list .service-item a .ic-cool {
  background: url(/assets/images/main/service_05_cool.png) no-repeat center;
}
.sc-service .service-list .service-item a .ic-minwon {
  background: url(/assets/images/main/service_06_minwon.png) no-repeat center;
}
.sc-service .service-list .service-item a .ic-smartcity {
  background: url(/assets/images/main/service_07_smartcity.png) no-repeat center;
}
.sc-service .service-list .service-item a .ic-youth {
  background: url(/assets/images/main/service_08_youth.png) no-repeat center;
}
.sc-service .service-list .service-item a .ic-water {
  background: url(/assets/images/main/service_09_water.png) no-repeat center;
}
.sc-service .service-list .service-item a .ic-tax {
  background: url(/assets/images/main/service_10_tax.png) no-repeat center;
}
.sc-service .service-list .service-item a .ic-digital {
  background: url(/assets/images/main/service_11_digitalcityhall.png) no-repeat center;
}
.sc-service .service-list .service-item a .ic-benefit {
  background: url(/assets/images/main/service_12_icbenefit.png) no-repeat center;
}
.sc-service .service-list .service-item a .ic-budget {
  background: url(/assets/images/main/service_13_budget.png) no-repeat center;
}
.sc-service .service-list .service-item a span {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #555;
}

.sc-keyword .keyword-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sc-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sc-notice .tab-item .content {
  display: none;
}
.sc-notice .tab-item .content.on {
  display: block;
}

.sc-field-info .inner .info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}/*# sourceMappingURL=style.css.map */